out
node_modules
bundled-components
quickstart/backend-advanced/data/local-data
quickstart/backend-advanced/dist
quickstart/backend/data/widgets
quickstart/backend/data/next-id.json
quickstart/backend/dist
quickstart/frontend/dist

# IDEs and editors
/.idea
./idea
.project
.classpath
.c9/
*.launch
.settings/
SECURITY*.md

.DS_Store
quickstart/static-components/dist
